.Loader {
    background-color: #FED105;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Loader-logo {
    width: 200px;
    margin-bottom: 40px;
}

.Loader-indicator {
    width: 50px;
    height: 50px;
}

