.background {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(128,128,128,.35);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    margin: auto;
    z-index: 101;
    background-color: white;
    padding: 12px;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
}

.cancelButton.acceptButton {
    border: none;
    background: none;
}

.acceptButton {
    color: green;
}

.cancelButton {
    color: #757575;
}
