.Quarter {
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.Quarter-header {
    display: flex;
    padding: 12px;
}

.Quarter.fall {
    background-color: #F7DFC3;
}

.Quarter.winter {
    background-color: #D8DAD6;
}

.Quarter.spring {
    background-color: #EDEDCD;
}

.Quarter-expandButton {
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}

.Quarter-expandButton:focus {
    outline: none;
}

.Quarter-label {
    flex: 1;
}

.Quarter-courses {
    display: none;
    margin-left: 20px;
}

.Quarter.isExpanded .Quarter-courses {
    display: block;
}
