.Course {
    display: flex;
    white-space: nowrap;
    border-left: 1px solid black;
    border-top: 1px solid black;
    background-color: white;
    padding: 12px;
}

.Course > * + * {
    margin-left: 10px;
}

.Course-name {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1;
}
