.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    align-items: center;
    background-color: var(--uci-yellow);
    padding: 0 15px 0 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    display: flex;
}