.container {
    transition: background-color 0.2s ease;
    border-radius: 15px;
}

.container:active {
    transition: background-color 0s ease;
    background-color: rgba(177,177,177,.35);
}

.label {
    font-weight: 500;
    font-size: 14;
    color: rgba(0,0,0,.87);
    margin-left: 36px;
    line-height: 24px;
    flex: 1;
}