.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 15;
    background-color: rgba(224,224,224,.54);
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 16;
    width: calc(100% - 56px);
    transition: transform 0.5s ease;
    background-color: white;
    box-shadow: 0 0 4px rgba(0,0,0,.28);
    overflow-y: auto;
}